
# Visual Studio
.vscode/

# Node.js Tools for Visual Studio
node_modules/

# npm
*-lock.json
npm-debug.log
.npmignore.swp

# gulp
gulpfile-no-funciona.js

# Web workbench (sass)
.sass-cache/
*.css.map

# Python Tools for Visual Studio (PTVS)
__pycache__/
*.pyc

# Compilados por produccion
server/static/css/
server/templates/

# virtualenv
ENV/

# results
dist/

# drive
recordatorios.txt
