extends templates/base.pug
block principal
  include templates/menu.pug
  //-Principal
    ==================================================
  main
    .secciones
        h1#tablero tablero
    section.container
      .row
        include templates/tablero.pug
    .secciones
        h1#casos casos
    section.container
      .row
        include templates/casos.pug
    .secciones
      h1#informe informe
    section.container.informes
      .row
        include templates/informe.pug
    .secciones
      h1#acerca acerca de
        include templates/acerca.pug
    .footer
      #footer  © copyright

block append script

