.list-container
  ol.list
    li.item
      .item__title Ruleta:
      button.item__toggle(id='btn-caso-ruleta') +
      include casos/ruleta.pug
    li.item
      .item__title Inventario(Normal):
      button.item__toggle(id='btn-caso-invent') +
      include casos/inventario.pug
