.list-container
  ul.list
    li.item
      h2.item__title Ruleta (Metodo de los Indices):
      include casos/ruleta.pug
    li.item
      h2.item__title Inventario (Parcial):
      include casos/inventarioParcial.pug
    li.item
      h2.item__title Situación Generica (Teoria de colas):
      include casos/teoriaDeColas.pug
    //- li.item
    //-   h2.item__title Inventario(Poison):
    //-   include casos/inventarioP.pug
    //- li.item
    //-   h2.item__title :
    //-   include casos/indices.pug
