//-Menu
  ==================================================
.menu__content
  .toggle
    .line
  ul
    each val, index in {'/':'tablero','/#casos':'casos','/#informe':'informes','/#acerca':'acerca de'}
      li: a.item(href=`${index}`, id=`${val=='tablero'?'linkIndex':''}`) #{val}
