.MBForm
  .form.vertical
    h2.title Test Chi-Cuadrado
    form(data-id='ranking')
      .subtitle Experimento:
      .section
        label(for='modulo') Modulo:
        input.entrante(type='number', name='modulo', placeholder='Modulo', required)
        label(for='cant') Cantidad:
        input.entrante(type='number', name='cant', placeholder='Cantidad', required)
        label(for='bandera') A:
        input.entrante(type='number', name='bandera', placeholder='A', required)
        label Error:
        select.entrante(name='error', required)
          each val in ['0.01','0.025','0.05','0.1']
            option(value=val)= val
      .subtitle Iteraciones:
      .section
        label(for='semillas') Cantidad:
        input.entrante(type='number', name='semillas', value='0', min='1', placeholder='Semillas')
        #nsemillas
      a.calcular(href='#informe', class='button') Calcular
      a.reset.button() Limpiar
  .preview
    h2.title Vista Previa
    .section
      p {
      p  Modulo: ,
      p  Cantidad: ,
      p  Bandera: ,
      p  Error: ,
      p  Semillas:
      p }

