.item__contend
  .MBForm
    .form
      form(data-id='inventarioPoisson')
        .subtitle Parametros de la Serie a Generar:
        .section
          label(for='modulo') Modulo:
          input(type='number', name='modulo', placeholder='Modulo', required)
          label(for='cant') Cantidad:
          input(type='number', name='cant', placeholder='Cantidad', required)
          label(for='bandera') Bandera:
          input(type='number', name='bandera', placeholder='Bandera', required)
          label(for='semilla') Semilla:
          input(type='number', name='semilla', placeholder='semilla', required)
        .subtitle Parametros de Experimentos:
        .section
          .section
            p.full Experimento 1
            label(for='pedidos') Stock a Analizar:
            input(type='number', name='stock', placeholder='stock', required)
            p.full corridas
            label(for='pedidos') Cantidades de Puntos de Pedido:
            input#cantPed(type='number', name='pedidos', placeholder='Puntos de reposición', min="1",value="1", required)
            #inputsPed
          .section
            p.full Experimento 2
            label(for='pedido') Punto de Pedido a Analizar:
            input(type='number', name='pedido', placeholder='Pedido', required)
            p.full corridas
            label(for='stocks') Cantidades de Stocks:
            input#cantStock(type='number', name='stocks', placeholder='Stocks', min="1",value="1", required)
            #inputsStock
        a.calcular(href='', class='button') calcular
        a.reset(href='', class='button') limpiar
  #experimentos
