#ruleta.item__contend
  .MBForm
    .form
      form
        .subtitle Parametros de prueba:
        .section
          label(for='modulo') Modulo:
          input(type='number', name='modulo', placeholder='Modulo', required)
          label(for='cant') Cantidad:
          input(type='number', name='cant', placeholder='Cantidad', required)
          label(for='bandera') Bandera:
          input(type='number', name='bandera', placeholder='Bandera', required)
          label(for='semilla') Semilla:
          input(type='number', name='semilla', placeholder='semilla', required)
        a#calRuleta(href='', class='button') calcular
        a#resetFormTablero(href='', class='button') Restablecer
  br
  .table-basic
    table
      thead
        tr
          each x in ['X','0',' 00','1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31','32','33','34','35','36']
            th= x
      tbody
        tr
          td p
          -var l= new Array(38)
          each p in l
            td= '1/38'
        tr
          td F
          each F in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38]
            td= F+'/38'
  #ruletaSerGen
