.item__contend
  .MBForm
    .form
      form(data-id='teoriaDeColas')
        .subtitle Parametros de la Serie a Generar:
        .section
          label(for='modulo') Modulo(m):
          input.entrante(type='number', name='modulo', placeholder='Modulo', required)
          label(for='cant') Cantidad de clientes(n):
          input.entrante(type='number', name='cant', placeholder='Cantidad de clientes', required)
          label(for='bandera') A:
          input.entrante(type='number', name='bandera', placeholder='A', required)
          label(for='semilla') Semilla:
          input.entrante(type='number', name='semilla', placeholder='semilla', required)
          //- label Error:
          //- select.entrante(name='error', required)
          //-   each val in ['0.01','0.025','0.05','0.1']
          //-     option(value=val)= val
        .subtitle Parametros para el modelo de colas:
        .section
          label(for='experimentos') Nro. de Experimentos:
          input.entrante(type='number', name='experimentos', placeholder='experimentos', required)
          label(for='incremento') Incremento Entre Experimento:
          input.entrante(name='incremento', placeholder='Incremento', required)
          label(for='corridas') Nro. de corridas:
          input.entrante(type='number', name='corridas', placeholder='corridas', required)
          .subtitle Parametro a variar:
            .inline.clearfix
              label(for='') Tasa media de T.de Servicio (M):
              input.entrante(type='radio', name='flag', required, checked)
              label(for='') Tasa media de T. entre llegadas(L):
              input.entrante(type='radio', name='flag', required)
          .section
            span.subtitle Valores iniciales
            input.entrante(placeholder='M', required)
            br
            input.entrante(placeholder='L', required)
        a.calcular(href='', class='button') calcular
        a.reset(href='', class='button') limpiar

